body {
    background-color: rgba(74, 13, 207, 0.356);
    text-align: center;
}

h1 {
    color: rgba(255, 55, 0, 0.76);
    font-size: 45px;
}

p {
    font-size: 20px;
}

h2 {

color: rgba(0, 47, 255, 0.76);
    font-size: 45px;

}